/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html {
	width: 100%;
	height: 100%;
	background-color: #A1A1A1;
}

body {
	position: relative;
	width: 96%;
	height: 100%;
	margin: 2% auto 2% auto;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background color: #496C91; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #496C91, black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #496C91, black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #496C91, black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #496C91, black); /* Standard syntax */
  	background-repeat: no-repeat;
  	background-repeat: no-repeat;
	text-align: center;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Rajdhani';

}

ul li {	
	display: inline;
}

/*---------------------------------------------------------------------------------
   Header Styles
---------------------------------------------------------------------------------*/

nav {
	position: relative;
	height: 10%;
	padding: 1em;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

nav a {

	color: #fff;
}

h1 {
	font-weight: 900;
	font-family: 'Rajdhani';
	font-size: 3em;
	padding: 0.8em;
	color: #fff;

}

/*style for hidden modal*/
.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background: black;
	border-radius: 1em;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.content {
	color: white;
	background color: #496C91; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #97D2E6, #00171F); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #97D2E6, #00171F); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #97D2E6, #00171F); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #97D2E6, #00171F); /* Standard syntax */
	position: relative;
	height: auto;
	width: 600px;
	border-radius: .5em;
	top: 15%;
	margin: auto auto;
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-family: "Rajdhani";
	font-size: 2.4em;
	font-weight: 300;
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	font-size: 1em;
	color: white;
	background: #1F253D;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: .4em;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

.content > div a:hover {
	background-color: white;
	color: #003B4F;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

/*---------------------------------------------------------------------------------
   Game Section Styles
---------------------------------------------------------------------------------*/

.game {
	position: relative;
	background-color: white;
	width: 380px;
	height: 380px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	margin: 0 auto;
}

h2 {
	margin: 0 auto;	
	background: white;
	padding-top: 1em;
	font-family: 'Rajdhani';
	font-size: 2.3em;
	font-weight: 400;
	display: block;
	line-height: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	color: black;
}

.game p {
	margin-top: 1.8em;
	font-family: 'Rajdhani';
	font-size: 2em;
	padding-bottom: 0.5em;
}

#count {
	color: black;
	font-weight: 400;
	font-family: 'Rajdhani';
	font-size: 1.2em;
}

input {
	width: 230px;
	height: 40px;
	display: block;
	font-family: 'Open Sans';
	margin: 0.8em auto 0;
	background: white;
	color: black;
	border: solid 1px #003B4F;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
}

input.button {
	background: white;
	width: 160px;
	border-radius: .4em;
	color: black;
	font-family: 'Open Sans';
	font-size: 1.4em;
	margin-top: 1.2em;
	padding-bottom: 2px;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

input.button:hover {
	background: #003B4F;
	color: white;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	cursor: pointer;
}

input.text {
	text-align: center;
	margin-top: 2em;
	padding-top: 3px;
	height: 40px;
	font-size: 1.8em;
	font-family: 'Open Sans';
}

input:focus {
	outline: none !important;
}

::-webkit-input-placeholder {
   color: black;
   font-family: 'Open Sans';
   font-size: .8em;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
   font-family: 'Open Sans';
   font-size: .8em;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
   font-family: 'Open Sans';
   font-size: .8em; 
}

:-ms-input-placeholder {  
   color: black;
   font-family: 'Open Sans';
   font-size: .8em; 
}

ul.guessBox {
	height: 65px;
	margin: 10px auto 0;
	background: #11a8ab;
	padding: 0.5em;
	display: block;
	line-height: 2em;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	overflow: auto;
}
ul.guessBox li {
	display: inline;
	background-color: #1a4e95;
	padding: 0.3em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 95%;
	margin: 0.2em;
	color: #fff;
}
